.join-container {
    background-color: antiquewhite;
    height: calc(100vh - 56px);
    background-image: url("../public/background.jpg");
    object-fit: fill;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-container {
    display: flex;
    align-items: center;
}

.answer-container p {
    margin: 0 5px 0 0;
}

.video-section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 90% 5%;
    gap: 10px;
    height: 100%;
}

.video-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 48% 48%;
    gap: 4%;
}

.video-card {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    background-color: grey;
    box-shadow: 5px 5px 17px 5px #0b6d7d;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../public/videobackground.jpg");
    background-size: contain;
}

.video-card video {
    max-height: 100%;
}
